<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - GET SKY BUY</title>

    include ../Common/HeadPart.pug


    <link rel="stylesheet" href="/verified/files/profile/css/Setting.css">
</head>
<body>
    
    include ../Common/Header.pug
    <main class="Main">
        <div class="CenterMain">

        
            include ./Profile_Aside.pug


            <div class="Side2">
                <div class="H2Heading">
                    <h2>Profile Setting</h2>
                </div>
                <hr>

                <div class="TopProfile">
                    <div class="TopProfileImg">
                        <img src="/verified/files/images/Profile_Image.webp" alt="Personal icon">
                    </div>
                    <div class="TopProfileData">
                        <div><strong>#{First_Name} #{Last_Name}</strong></div>
                        <div>#{Email}</div>
                    </div>
                </div>



                <div class="table">
                    
                    <div class="Div_Input">
                        <input value="#{First_Name}" id="First_Name" class="Inputclick" title="First name" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="First_Name_Label" for="First_Name">First name</label>
                    </div>
                    <div class="Div_Input">
                        <input value="#{Last_Name}" id="Last_Name" class="Inputclick" title="Last name" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="Last_Name_Label" for="Last_Name">Last name</label>
                    </div>
                    <div class="Div_Input">
                        <input value="#{Mobile_Number}" id="Mobile_Number" class="Inputclick" title="Mobile number" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="Mobile_Number_Label" for="Mobile_Number">Mobile number</label>
                    </div>
                    <div class="Div_Input">
                        <input value="#{DOB}" id="DOB" class="Inputclick" title="DOB" type="date" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="DOB_Label" for="DOB">DOB</label>
                    </div>
                    <div class="Div_Input">
                        
                        <!-- <label class="Div_Input_Label" id="Gender_Label" for="DOB">Gender</label> -->
                        <select id="Gender" class="Inputclick" disabled>
                            <option value="#{Gender}">#{Gender}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    
                    <table>
                        <tr>
                            <td>GSB - Coins:</td>
                            <td>
                                | #{Coins}
                            </td>
                        </tr>
                        <tr>
                            <td>Joined:</td>
                            <td>
                                | #{Joined}
                            </td>
                        </tr>

                    </table>

                </div>

                <div class="Btns">

                    <button id="EditBtn" onclick="EditBtn();" type="button">Edit</button>
                </div>




                <br>
                <hr>
                <br>
                <div class="H2Heading">
                    <h4>Change password</h4>
                </div>
                
                <div class="Change1">
                    
                    <div id="ChangeHideee1">
                        <button id="ChangePassword" onclick="ChangePassword();" type="button">Change password</button>
                    </div>
                    

                    <div id="ChangeHideee22">

                        <div class="Div_Input">
                            <input id="Current_Password" class="Inputclick" title="Current password" type="password" spellcheck="false" placeholder=" ">
                            <label class="Div_Input_Label" id="Current_Password_Label" for="Current_Password">Current password</label>
                            <div id="ShowPassword"><span class="material-symbols-outlined" id="ShowClick1" onclick="Current_Password(1);">visibility_off</span></div>
                        </div>
                        
                        <div class="Div_Input">
                            <input id="New_Password" class="Inputclick" title="New password" type="password" spellcheck="false" placeholder=" ">
                            <label class="Div_Input_Label" id="New_Password_Label" for="New_Password">New password</label>
                            <div id="ShowPassword1"><span class="material-symbols-outlined" id="ShowClick1" onclick="New_Password(1);">visibility_off</span></div>
                        </div>
                        
                        <div class="Div_Input">
                            <input id="Confirm_Password" class="Inputclick" title="Confirm password" type="password" spellcheck="false" placeholder=" ">
                            <label class="Div_Input_Label" id="Confirm_Password_Label" for="Confirm_Password">Confirm password</label>
                        </div>
                        <div>
                            <button id="ChangePasswordConfirm" onclick="ChangePasswordConfirm();" type="button">Confirm change password</button>
                            <button id="Cancel" onclick="Cancel();" type="button">Cancel</button>
                        </div>
                    </div>





                </div>
                
                <!-- <hr> -->

                <br>
                <hr>
                <br>
                <div class="H2Heading">
                    <h4>Bank account</h4>
                </div>
                <div>
                    
                    <div class="Div_Input">
                        <input value="#{Bank_Name}" id="Bank_Name" class="Inputclick" title="Bank name" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="Bank_Name_Label" for="Bank_Name">Bank name</label>
                    </div>
                    
                    <div class="Div_Input">
                        <input value="#{Beneficiary_Name}" id="Beneficiary_Name" class="Inputclick" title="Beneficiary name" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="Beneficiary_Name_Label" for="Beneficiary_Name">Beneficiary name</label>
                    </div>
                    
                    <div class="Div_Input">
                        <input value="#{Account_Number}" id="Account_Number" class="Inputclick" title="Account number" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="Account_Number_Label" for="Account_Number">Account number</label>
                    </div>
                    
                    <div class="Div_Input">
                        <input value="#{IFSC_Code}" id="IFSC_Code" class="Inputclick" title="IFSC Code" type="text" spellcheck="false" placeholder=" " disabled>
                        <label class="Div_Input_Label" id="IFSC_Code_Label" for="IFSC_Code">IFSC Code</label>
                    </div>

                </div>
                
                <div id="Edit_BankDiv">

                    <button id="Edit_Bank" onclick="Edit_Bank();" type="button">Edit Bank details</button>
                </div>



            </div>

        </div>

    </main>

    include ../Common/Footer.pug
    <script src="/verified/files/common/message.js"></script>
    <script src="/verified/files/profile/js/Setting.js"></script>
</body>
</html>