<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{Title} | GET SKY BUY</title>
    <link rel="stylesheet" href="/verified/files/product/css/Product_Page.css">
    <link rel="stylesheet" href="/verified/files/product/css/Product_List.css">
    <meta name="description" content="#{Description}">  

    include ../Common/HeadPart.pug


</head>
<body>
    
    include ../Common/Header.pug
    <main class="main">
        <div class="Main_In">




            <div class="Image_Box" id="Image_Box">


                
                <div id="SideImge11">
                    <button id="UpArrow" type="button"><span class="material-symbols-outlined">keyboard_arrow_up</span></button>
                    <div id="SideImge">
                        | !{IMG}
                    </div>
                    
                    <button id="DownArrow" type="button"><span class="material-symbols-outlined">keyboard_arrow_down</span></button>
                </div>
                <div id="BigImg">
                </div>


            </div>

            <div class="Des">
                <h2 title="#{Title}" class="WTitle">#{Title}</h2>
                <div class="StoreLink"> <span> #{Shop_Name}</span> <a target="_blank" href="#{Location}">Visit shop</a></div>
                <div class="Line"></div>
                <div class="Pricing">
                    <div class="Pricing_Selling">
                        <span class="RupeeSym">₹</span>
                        <span class="SellingPri">#{Sell} </span>
                        <span class="Offer_Per">
                            <span>#{Offer}%</span>
                            <span> OFF</span>
                        </span>
                    </div>
                    <span class="Mrp1">MRP: #{MRP}</span>

                </div>
                <div class="Offers">
                    <ul>
                        <li><span class="material-symbols-outlined selll_IC">sell</span>Cash on delivery available.</li>
                        <li><span class="material-symbols-outlined selll_IC">sell</span>Rs.19/- Cashback on Prepaid Orders.</li>
                        <li><span class="material-symbols-outlined selll_IC">sell</span>Get extra gifts on first order.</li>
                        <li><span class="material-symbols-outlined selll_IC">sell</span>Earn GSB Coins on purchasing this order</li>
                    </ul>

                </div>
                <div class="Line"></div>
                
                <div class="ButtonsA">
                    <button type="button" onclick="AddToCart('#{ID}');">Add to Cart</button>
                    <button type="button" onclick="BuyNow('#{ID}');">Buy now</button>
                </div>
                
                



                <div class="Description">
                    <h4>Description:</h4>
                    <p>!{Description}</p>
                    
                </div>





                <div class="TableData" id="TableData">
                    <h3 style="margin: 6px 0; font-weight: normal; text-decoration: underline; color: #494949;">Specification:</h3>
                    <table>
                        | !{Table}
                    </table>
                    
                </div>


























                
                <!-- <div class="QNA">
                    <h4>✅Question and Answers?</h4>
                    <div class="Qnna">
                        <div><strong>Q. What is the charger Voltage?</strong></div>
                        <div>A. 5V to 12V</div>
                    </div>
                    <div class="Qnna">
                        <div><strong>Q. What is the charger Voltage?</strong></div>
                        <div>A. 5V to 12V</div>
                    </div>
                    <div class="Qnna">
                        <div><strong>Q. What is the charger Voltage?</strong></div>
                        <div>A. 5V to 12V</div>
                    </div>
                    <div><a title="View more" href="/products/saddaadsadad">View more</a></div>
                </div> -->
                
                
                <!-- <div class="Line"></div> -->
                
                <!-- <div class="Review">
                    <h4>Write a review.</h4>
                    <div class="Rating">
                        
                    </div>
                    <div>
                        <textarea  placeholder="Write a review" id="WriteAReview"></textarea>
                    </div>
                    <div class="zWriteAReviewBTN">
                        <button>Submit</button>

                    </div>

                </div> -->
                
                
                
                
                
                
                
                
                
                <!-- <div class="Line"></div> -->










                
                
                
                
                
                
                
                
                
            </div>

        </div>

    </main>

    
<!--        
    <div class="Product_Row">
        <div class="Product">
            <div title="Product Image" class="Product_Image">
                <a href="/products/s/4e9d8v965d3d39afgowelp">

                    <img src="http://localhost:81/product/img/_AA_1728299028352__Image1_1_20241007_162923_0000[1].jpg" alt="Product Image">
                </a>

            </div>
            <h5 title="" class="Product_Title">
                <a href="/products/s/4e9d8v965d3d39afgowelp">Cushybee Women Solid Winter-Wear Long Coat Cushybee Women Solid Winter-Wear Long Coat </a>
            </h5>
            <div title="Price" class="Product_Pricing">
                <span class="MRPP">₹</span>
                <span class="MRPPp">14,999</span>
                <span class="Product_Offer">50% OFF</span>
                <br><span class="MRRP">Rs. 18,999</span>
            </div>

            <div class="Product_Buttons">
                <button type="button" onclick="AddToCart('#{ID}');">Add to cart</button>
                <button type="button" onclick="BuyNow('#{ID}');">Buy now</button>
            </div>
            <p class="Product_OneLine">Verified product</p>
            
        </div>
        
    </div> -->
    <main>
        <section class="Product_Row" id="Section1">

        </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>





    
    <script src="/verified/files/common/Message.js"></script>
    <script src="/verified/files/product/js/Product_Page.js"></script>
    <script src="/verified/files/product/js/Add_To_Cart.js"></script>
    <script src="/verified/files/product/js/Product_List.js"></script>
</body>
</html>